<nav class="navbar navbar-expand-lg navbar-light" id="header-nav">
    <button 
        class="navbar-toggler" 
        type="button" 
        (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="">
        The Idiot Sandwich
        <img src="https://i.ibb.co/F4MDzfW/bread-plain.png" alt="bread-plain" border="0" height="60px">
    </a>

    <div 
        class="collapse navbar-collapse" 
        id="navbarTogglerDemo03"
        [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about-the-idiot-sandwich']">About The Idiot Sandwich</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/favorite-recipes']">Favorite Recipes</a>
        </li>
    </ul>
    </div>
</nav>



<router-outlet></router-outlet>
