.container { 
    text-align: center;
}
.col-md-4 { 
    text-align: center;
}

.container.recipes{
    padding-top: 15px;
}

/* featured recipes text */
h4 { 
    text-align: center;
    padding: 0;
    margin: 0;
}

/* recipe titles text */
h5 { 
    padding-top: 10px;
}

p { 
    font-style: italic;
    font-weight: 100;
}
