<app-header></app-header>
<div class="container">     
    <div class="row">
        <app-search-form
        *ngIf="searchList">
        </app-search-form>
    </div>
</div>

<div class="container">
  <h4>Featured Recipes</h4>
  <p>"For what we are about to eat, may the Lord make us truly not vomit."</p>
</div>
<div class="container recipes">     
    <div class="row">
      <div class="col-md-4" *ngFor="let recipe of getRecipes()">
          <img [src]="recipe.recipe.image" alt= "recipeImage" style="width:100%">  
          <h5>{{recipe.recipe.label}}</h5>
          <a [href]="recipe.recipe.url">Click</a>
      </div>
    </div>
  </div>


