@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.page-not-found { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}

.material-icons { 
    font-size: 100px;
}