<div class="container">
  <form class="search-input" #recipeForm="ngForm" (submit)="recipeFormSubmitted(recipeForm.value)">
    <div class="input-group mb-3 search-input">
      <input type="text" name="q" class="form-control" placeholder="What type of dish?" ngModel>

      <div class="search-dropdown">
        <!-- <div class="form-group">
          <label for="exampleFormControlSelect1">Health Type</label>
          <select class="form-control" name="health" id="exampleFormControlSelect1" ngModel>
            <option>Peanut-Free</option>
            <option>Vegan</option>
            <option>Vegetarian</option>
            <option>Alcohol-Free</option>
          </select>
        </div> -->
        <div class="form-group col-mod">
          <label for="exampleFormControlSelect1">Diet Type</label>
          <select class="form-control" name="diet" id="exampleFormControlSelect1" ngModel>
            <option>Low-Fat</option>
            <option>High-Protein</option>
            <option>Balanced</option>
            <option>Low-Carb</option>
          </select>
        </div>
      </div>

      <!-- <h6 style="text-align: center; padding-bottom: 25px;">CLEAR ALL</h6> -->
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i>Submit</button>
      </div>
    </div>
  </form>
</div>