.search-input { 
    padding-top: 10px;
}

.input-group.mb-3.search-input { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.form-control,
.form-group.col-mod {
    width: 100%;
    padding: 15px;
}

/* the health label dropdowns */
/* .form-group { 
    width: 75%;
} */
